$body-bg: #247209;
$primary: #88d840;
$secondary: #DAD8DB;
$tertiary: #2A351F;
$white: #F0F0F0;
$black: #2D2935;

$font-family-base: 'Roboto', sans-serif;

$enable-rounded: false;

$text-color: $white;



