// core
$white: #FFF;
$black: #000;

$body-bg: #FFF;
$primary: #247209;
$secondary: #88d840;
$tertiary: #2A351F;
$warning: #2A351F;

$font-family-base: 'Roboto', sans-serif;

$enable-rounded: false;

$text-color: $white;

$gold: #FFD700;

//themes
$purple: #695EA2;







