$body-bg: #FFF;
$primary: #247209;
$secondary: #88d840;
$tertiary: #2A351F;
$warning: #2A351F;
$white: #FFF;
$black: #2D2935;
$gold: #FFD700;

$font-family-base: 'Roboto', sans-serif;

$enable-rounded: false;

$text-color: $white;



